.about {
  margin: auto;
  padding: 1rem 1rem 0 1rem;
  width: 100%;
}

.about .container {
  width: 1240px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about h2 {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffff00;
  border: none;
  height: 70px;
  width: 100%;
  position: relative;
  text-align: center;
}

.about .col-2 {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.about .col-2 p:first-of-type {
  text-align: justify;
  margin: 2rem 0;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 600;
}

.about button {
  background-color: yellow;
  color: black;
  margin-top: 1rem;
  border-radius: 99px;
}

@media screen and (max-width: 940px) {
  .about .container {
    grid-template-columns: 1fr;
  }

  .about .container {
    width: 100%;
  }

  .about .container img {
    padding: 0rem;
    width: 90vw;
  }

  .about .container .col-2 {
    padding: 0;
  }

  .about button {
    margin-bottom: 1rem;
    border-radius: 99px;
  }
}
