/* Three image containers (use 25% for four, and 50% for two, etc) */
.card-image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Clear floats after image containers */
.gambar {
  max-width: 300px;
  width: 100%;
  object-fit: cover;
  padding: 10px;
}

.tenaga {
  text-align: center;
  color: white;
  padding: 20px;
}
